fish/fish_history
fish/fishd.*
tmux/resurrect/
tmux/plugins/*
!tmux/plugins/tpm/
vim/.netrwhist
vim/plugins/*
!vim/plugins/.gitkeep
*.swp
vim/undodir
vim/worklist.json
dotbot
.vagrant
selfhosted/*
!selfhosted/docker-compose.yaml
